<section class="about">
    <div class="container">
        <p>tradition and love</p>
        <h2>how it’s made?</h2>
        <div>
            <picture>
                <source srcset="./images/desktop/cow.png 1x, ./images/desktop/cow-2x.png 2x"
                    media="(min-width: 1200px)">
                <source srcset="./images/tablet/cow.png 1x, ./images/tablet/cow-2x.png 2x" media="(min-width: 768px)">
                <source srcset="./images/mobile/cow.png 1x, ./images/mobile/cow-2x.png 2x" media="(min-width: 320px)">
                <img src="./images/desktop/cow.png" alt="A cow is grazing in the meadow" width="490">
            </picture>
        </div>
    </div>
</section>