<section class="contacts" id="contacts">
    <div class="container">
        <h3 class="visually-hidden">Contacts</h3>
<div class="contacts-possition">
    <ul class="contacts__list contacts-offset">
        <li class="contacts__item">
            <p class="contacts__title">CAFE</p>
            <ul class="contacts-card__list">
                <li class="contacts-card__item">
                    <p class="contacts-card__title">Chicago</p>
                    <address class="address__text">10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</address>
                </li>
                <span class="contacts-card__border"></span>
                <li class="contacts-card__item">
                    <p class="contacts-card__text">Monday - Friday</p>
                    <p class="contacts-card__text">06:00 AM - 10:00 PM</p>
                    <p class="contacts-card__text">Saturday - Sunday</p>
                    <p class="contacts-card__text">08:00 AM - 16:00 PM</p>
                </li>
                    <span class="contacts-card__border"></span>
                <li class="contacts-card__item">
                    <a  class="contacts-card__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    <a class="contacts-card__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
            </ul>
        </li>

        <li class="contacts__item">
            <p class="contacts__title">FOODTRUCK</p>
            <ul class="contacts-card__list">
                <li class="contacts-card__item">
                    <p class="contacts-card__title">Los Angeles</p>
                    <address class="address__text">1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</address>
                </li>
                <span class="contacts-card__border"></span>
                <li class="contacts-card__item">
                    <p class="contacts-card__text">Monday - Friday</p>
                    <p class="contacts-card__text">06:00 AM - 10:00 PM</p>
                    <p class="contacts-card__text">Saturday - Sunday</p>
                    <p class="contacts-card__text">08:00 AM - 16:00 PM</p>
                </li>
                    <span class="contacts-card__border"></span>
                <li class="contacts-card__item">
                    <a  class="contacts-card__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    <a class="contacts-card__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
            </ul>
        </li>
        <li class="contacts__item">
            <p class="contacts__title">CAFE</p>
            <ul class="contacts-card__list">
                <li class="contacts-card__item">
                    <p class="contacts-card__title">New York</p>
                    <address class="address__text">726 Sterling Pl, Brooklyn, NY 11222, USA</address>
                </li>
                <span class="contacts-card__border"></span>
                <li class="contacts-card__item">
                    <p class="contacts-card__text">Monday - Friday</p>
                    <p class="contacts-card__text">06:00 AM - 10:00 PM</p>
                    <p class="contacts-card__text">Saturday - Sunday</p>
                    <p class="contacts-card__text">08:00 AM - 16:00 PM</p>
                </li>
                    <span class="contacts-card__border"></span>
                <li class="contacts-card__item">
                    <a  class="contacts-card__link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
                    <a class="contacts-card__link" href="mailto:noreply@envato.com">noreply@envato.com</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul class="contacts-btn__list">
        <li>
            <a class="contacts__btn contacts__btn-location" data-modal-open href="#">Our Locations
                <svg class="contacts__btn-icon">
                    <use href="./images/icons.svg#vector-btn"></use>
                </svg></a>
        </li>
        <li>
            <a class="contacts__btn contacts__btn-franchise" href="#">Franchise
                <svg class="contacts__btn-icon">
                    <use href="./images/icons.svg#vector-btn"></use>
                </svg></a>
        </li>
    </ul>
</div>
    </div>


    <div class="backdrop is-hidden" data-modal>
        <div class="modal-location">
            
            <ul class="modal-location__list">
                <li class="modal-location__item">
                    <p class="modal-location__text">Our Locations</p>
                </li>
                <li class="modal-location__item modal-location__item-img">
                    <img  width="224" height="199" src="./images/mapsx1.jpg" alt="maps">
                </li class="modal-location__item">
                <li><a class="modal-location__btn" href="https://www.google.com.ua/maps/@50.4501,30.5234,10z?hl"
                        target="_blank">Open map</a>
                </li>
            </ul>
        </div>
        <button class="modal__close" type="button" data-modal-close>
            <svg class="modal-close-icon" width="30" height="30">
                <use href="./images/icons.svg#icon-modal-close"></use>
            </svg>
        </button>
    </div>
</section>
