<footer class="footer">
    <div class="container">
        <ul class="footer__list">
            <li class="footer__item">
                <p class="footer__title-small">homemade ice cream made</p>
                <p class="footer__title-big">with passion</p>
            </li>

            <li class="footer__item">
                <a href="">github</a>
                <a href="">telegram</a>
                <a href="">facebook</a>
                <p class="footer__text">Feel free to contact <a href="tel:+61(0)383766284">+61 (0) 383 766 284</a></p>
            </li>
        </ul>
        <ul>
            <li><p class="footer__text-res">© 2022 - IceCream.</p></li>
            <li><p class="footer__text-res">All Rights Reserved.</p></li>
        </ul>
    </div>
</footer>
