<section class="hero">
  <div class="container">
    <h1>ice cream made with passion</h1>
    <a href="">Products</a>
    <a href="">How it’s made?</a>
    <ul>
      <li>
        <p>16<span>cafes</span></p>
      </li>
      <li>
        <p>23<span>food trucks</span></p>
      </li>
    </ul>
    <picture>
      <source
        srcset="
          ./images/desktop/ice-cream.png    1x,
          ./images/desktop/ice-cream-2x.png 2x
        "
        media="(min-width:1200px)"
        sizes="484"
      />
      <source
        srcset="
          ./images/tablet/hero/ice-cream.png    1x,
          ./images/tablet/hero/ice-cream-2x.png 2x
        "
        media="(min-width:768px)"
        sizes="270"
      />
      <source
        srcset="
          ./images/mobile/hero/ice-cream.png    1x,
          ./images/mobile/hero/ice-cream-2x.png 2x
        "
        media="(min-width:480px)"
        sizes="170"
      />

      <img
        src="./images/mobile/hero/ice-cream.png"
        alt="ice-cream"
        width="484"
      />
    </picture>
    <picture>
      <source
        srcset="
          ./images/desktop/ice-plate.png    1x,
          ./images/desktop/ice-plate-2x.png 2x
        "
        media="(min-width:1200px)"
        sizes="225"
      />
      <source
        srcset="
          ./images/tablet/hero/ice-plate.png    1x,
          ./images/tablet/hero/ice-plate-2x.png 2x
        "
        media="(min-width:768px)"
        sizes="152"
      />
      <img
        src="./images/tablet/hero/ice-plate.png"
        alt="ice-cream"
        width="225"
      />
    </picture>
    <div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et
      </p>
      <a href="">
        <svg width="40">
          <use href="./images/icons.svg#arrow-hero"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
