.about {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 60px;
  padding-bottom: 0;

  background-color: $bg-color;
}
.about-title {
  min-width: 210px;
  margin-left: auto;
  margin-right: auto;

  @include mobile {
    width: 400px;
    text-align: center;
  }
  @include tablet {
    width: 454px;
  }
  @include desktop {
    width: 481px;
  }
}
.about__label {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0em;

  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;

  margin-bottom: 12px;

  @include tablet {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
  @include desktop {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}
.about__title-text {
  text-align: center;

  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-bottom: 32px;
  padding-right: 30px;
  padding-left: 30px;

  @include mobile {
    white-space: nowrap;
    padding-left: 0;
    padding-right: 0;
  }
  @include tablet {
    font-size: 34px;
    line-height: 1.26;
    letter-spacing: 0.06em;
    white-space: nowrap;
    margin-bottom: 72px;
  }
  @include desktop {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
    margin-bottom: 82px;
  }
}
.about-wrap__tablet {
  display: block;

  @include tablet {
    display: flex;
    gap: 32px;
  }
  @include desktop {
    gap: 100px;
  }
}
.circle-container {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 279.3px;

  @include tablet {
    min-width: 336px;
    margin-left: 0;
    margin-right: 0;
  }
  @include desktop {
    width: 500px;
    margin-left: 0;
    margin-right: 0;
  }
}
.circle {
  position: relative;
  width: 278.19px;
  height: 278.25px;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140.182px;

  @include tablet {
    width: 334.65px;
    height: 330px;
    border-radius: 165.879px;
    box-shadow: 0px 5.30813px 19.9055px rgba(153, 114, 23, 0.25);
  }
  @include desktop {
    width: 500px;
    height: 500px;
    box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
    border-radius: 50%;
  }
}
.circle-2 {
  position: absolute;
  top: 21.82px;
  width: 278.19px;
  height: 278.25px;
  border-radius: 140.182px;

  background-image: url('../images/mobile/cow-mob-1x.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include retina-bg {
    background-image: url('../images/mobile/cow-mob-2x.png');
  }

  @include tablet {
    background-image: url('../images/tablet/cow-tab-1x.png');
    width: 334.65px;
    height: 330px;
    border-radius: 1228.96px;
    top: 25.88px;

    @include retina-bg {
      background-image: url('../images/tablet/cow-tab-2x.png');
    }
  }
  @include desktop {
    background-image: url('../images/desktop/cow-desk-1x.png');
    width: 490px;
    height: 490px;
    border-radius: 50%;
    top: 39px;
    right: 8px;

    @include retina-bg {
      background-image: url('../images/desktop/cow-desk-2x.png');
    }
  }
}
.about__container {
  padding-left: 0px;
  padding-right: 0px;

  @include mobile {
    padding-left: 50px;
    padding-right: 50px;
  }
  @include tablet {
    padding-left: 0px;
    padding-right: 0px;
  }
  @include desktop {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.about-text {
  min-width: 220px;
  margin-top: 62px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 30px;
  padding-right: 30px;

  align-items: center;

  @include mobile {
    width: 440px;
    padding-left: 40px;
    padding-right: 40px;
  }
  @include tablet {
    width: 334px;
    margin-top: 7px;
    margin-bottom: 48px;
    padding-left: 0;
    padding-right: 0;
  }
  @include desktop {
    margin-top: 90px;
    width: 463px;
  }
}
.about-text__paragraph-1 {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;

  @include tablet {
    text-align: left;
  }
  @include desktop {
    font-size: 16px;
  }
}
.about-text__paragraph-2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0em;
  margin-top: 4px;

  @include tablet {
    line-height: 1.76;
    letter-spacing: 0.04em;
    text-align: left;
    margin-top: 8px;
  }
  @include desktop {
    font-size: 14px;
    line-height: 1.94;
  }
}
.about-text__paragraph-3 {
  display: none;

  @include tablet {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.94;
    letter-spacing: 0.04em;

    text-align: left;
    margin-top: 8px;
  }
  @include desktop {
    display: block;
    font-size: 14px;
  }
}
.about__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.82px;

  color: $secondary-text-color;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 0;

  background-color: $yellow-color;
  border-radius: 10px;
  border-color: transparent;
  width: 164px;
  height: 42px;
  margin-right: auto;
  margin-left: auto;

  @include tablet {
    margin-right: auto;
    margin-left: 0;
  }
  &:hover,
  &:focus {
    background-color: $green-color;
  }
  &:focus {
    color: $main-text-color;
  }
}
.about__btn-icon {
  display: inline-block;

  height: 12px;
  width: 12px;
  fill: transparent;
  stroke: currentColor;
}
