.contacts {
    background-color: $bg-color;
}

.contacts__list {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: $secondary-text-color;
    flex-wrap: wrap;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
        display: flex;

        .contacts__item:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    @include tablet {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: baseline;

        .contacts__item:not(:last-child) {
            margin-right: 16px;
            margin-bottom: 0;
        }
    }

    @include desktop {
        width: 368px;
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        .contacts__item:not(:last-child) {
            margin-right: 32px;
        }
    }
}

/*.contacts-offset {
    margin-top: -240px;

    @include tablet {
        margin-top: -302px;
    }

    @include desktop {
        margin-top: -97px;
    }
}*/

.contacts__item {
    background-color: $main-text-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 40px 32px;
    max-width: 280px;
    height: 100%;

    @include mobile {
        width: 280px;
    }

    @include tablet {
        width: 224px;
        background: #FCFCFC;
        padding: 24px 40px;

    }

    @include desktop {
        width: 368px;
        padding: 40px;

        
    }
}



.contacts__title {
    display: inline;
    color: $secondary-text-color;
    background: $yellow-color;
    border-radius: 4px;
    padding: 3px 23px;
}

.contacts-card__title {
    margin-top: 20px;
}

.contacts-card__item>.contacts-card__text:nth-child(2n) {
    color: #ABABAB;
}

.address__text {
    line-height: 1.83;
    color: $lite-orange;
    font-style: normal;
    margin-top: 8px;
}

.contacts-card__border {
    height: 0px;
    background-color: #E1E1E1;
    display: block;
    border: 1px solid #E1E1E1;
    margin: 24px 0;
}

.contacts-card__link {
    display: inline;
    font-style: normal;
    color: $secondary-text-color;
}

.contacts-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;

        & > li:nth-child(2) {
        margin-top: 16px;
    }

    @include tablet {
        display: flex;
        flex-direction: row;

        & > li:nth-child(2) {
            margin-left: 16px;
            margin-top: 0;
        }
    }


}



.contacts-btn__link {
    display: block;
    text-align: center;
    width: 196px;
    height: 42px;
    border-radius: 10px;
    color: $secondary-text-color;
    box-sizing: border-box;
    padding: 12px 0;
}

.contacts-btn__icon {
    margin-left: 6px;
    fill: $secondary-text-color;
}

.contacts-btn__link-locations {
    background-color: $yellow-color;
    text-align: center;
}

.contacts-btn__link-franchise {
    text-align: center;
    border: 2px solid $yellow-color;
    background-color: transparent;
}