.contacts {
    background-color: $bg-color;

}

.contacts__list {

    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.875;
    color: $secondary-text-color;
    flex-wrap: wrap;
    z-index: 1;
    display: flex;
    justify-content: center;
    gap: 20px;

    @include tablet {
        font-size: 14px;
        gap: 16px;
    }

    @include desktop {
        font-size: 16px;
        gap: 32px;
    }

}

.contacts-possition {
    position: relative;
    top: -240px;

    @include tablet {
        font-size: 14px;
        top: -302px;
    }

    @include desktop {
        font-size: 16px;
        top: -97px;
    }
}

/*.contacts-offset {
    margin-top: -240px;

    @include tablet {
        margin-top: -302px;
    }

    @include desktop {
        margin-top: -97px;
    }
}*/

.contacts__item {
    background-color: $main-text-color;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @media screen and (max-width: 767px) {
        padding: 40px 32px;
        max-width: 280px;
    }



    @include tablet {
        width: calc((100% - 2 * 16px) / 3);
        padding: 40px 24px;


    }

    @include desktop {

        width: calc((100% - 2 * 32px) / 3);
        padding: 40px;
    }



}



.contacts__title {
    display: inline;
    color: $secondary-text-color;
    background: $yellow-color;
    border-radius: 4px;
    padding: 0.5px 22px;
}

.contacts-card__title {
    margin-top: 20px;
}

.contacts-card__item>.contacts-card__text:nth-child(2n) {
    color: #ABABAB;
}

.address__text {
    line-height: 1, 857;
    color: $lite-orange;
    font-style: normal;
    margin-top: 8px;
    &:hover {
        text-decoration: underline ;
        cursor: pointer;
    }
}

.contacts-card__border {
    height: 0px;
    background-color: #E1E1E1;
    display: block;
    border: 1px solid #E1E1E1;
    margin: 24px 0;

    @include tablet {
        margin: 32px 0;
    }

    @include desktop {
        margin: 32px 0;
    }
}

.contacts-card__link {
    display: inline;
    font-style: normal;
    color: $secondary-text-color;
}

.contacts-btn__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
    margin-top: 39px;

    &>li:nth-child(2) {
        margin-top: 16px;
    }

    @include tablet {
        display: flex;
        flex-direction: row;
        margin-top: 60px;

        &>li:nth-child(2) {
            margin-left: 16px;
            margin-top: 0;
        }
    }

    @include desktop {
        margin-top: 64px;
    }

}



.contacts__btn {

    width: 196px;
    height: 42px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 12px 0;

    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.29;
    display: flex;
    cursor: pointer;
    border: none;
    outline: transparent;
}

.contacts__btn-location {
    color: $secondary-text-color;
    background-color: $yellow-color;
    border: 2px solid $yellow-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        background-color: $green-color;
        border-color: $green-color;
        color: $main-text-color;
    }

    &:focus .contacts__btn-icon {
        stroke: $main-text-color;
        fill: transparent;
    }

    &:hover {
        background-color: $green-color;
        border-color: $green-color;

        &:disabled {
            background-color: #ABABAB;
            border-color: #ABABAB;
        }
    }


}

.contacts__btn-franchise {
    color: $secondary-text-color;
    background-color: transparent;
    border: 2px solid $yellow-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


    &:focus {
        border-color: $green-color;
        color: $main-text-color;
    }

    &:focus .contacts__btn-icon {
        stroke: $main-text-color;
        fill: transparent;
    }

    &:hover {
        border-color: $green-color;


        &:disabled {
            border-color: #ABABAB;
        }
    }
}


.contacts__btn-icon {
    height: 12px;
    width: 12px;
    fill: #0000;
    stroke: currentColor;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-left: 6px;
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
  
    width: 100vw;
    height: 100vh;
  
    transition: opacity 250ms,
      visibility 250ms;
  
    &.is-hidden {
      opacity: 0;
      visibility: hidden;
      pointer-events: 0;
    }
  }
  .modal-location {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.modal-location__list {
    padding: 28px;
    display: flex;
    align-items: center;
}

.modal-location__text {
    font-family: 'Seymour One';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: calc(24 / 16);

text-align: center;

color: $secondary-text-color;
margin-bottom: 20px;
}

.modal-location__item-img {
    border-radius: 10px;
    margin-bottom: 24px;
}

.modal-location__btn {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: calc(15 / 12);
    display: flex;
    align-items: center;
    text-align: center;
    
    color: $secondary-text-color;
    background-color: $yellow-color;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: $green-color ;
    }
}



